<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="actor" class="com.stackroute.Actor">
        <constructor-arg name="name" value="Ramesh" type="java.lang.String"></constructor-arg>
        <constructor-arg name="gender" value="male" type="java.lang.String"></constructor-arg>
        <constructor-arg name="age" value="30" type="int"></constructor-arg>
    </bean>
    <bean name="movie" class="com.stackroute.Movie" autowire="byName"></bean>
    <bean id="beanLifecycle" class="com.stackroute.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDelete">

    </bean>
</beans>